<div class="p-6 rounded-xl bg-white shadow">
  <h2 mat-dialog-title class="text-xl font-semibold text-gray-800">
    {{ "device.total_device.title" | translate }}
  </h2>

  <div mat-dialog-content class="mb-6 mt-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{ "device.total_device.label" | translate }}</mat-label>
      <input
        type="number"
        matInput
        min="0"
        step="10"
        [(ngModel)]="fmapNbrDevice"
        class="text-custom-black"
      />
      <mat-hint>{{ "device.total_device.hint" | translate }}</mat-hint>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="flex justify-end gap-4">
    <button
      mat-stroked-button
      (click)="onCancel()"
      color="accent"
      class="border-gray-300 text-gray-700 hover:bg-gray-100 py-2 px-4 rounded-lg text-sm font-medium transition-colors"
    >
      {{ "device.total_device.cancel" | translate }}
    </button>
    <button mat-stroked-button (click)="onSave()" color="primary">
      {{ "device.total_device.save" | translate }}
    </button>
  </div>
</div>
