
.div-upload {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.fileover {
    border: 5px dashed rgb(0, 110, 255);
  }
}

.map {
  height: 100%;
  width: 100%;
  position: relative;
}

.spinner-loading {
  position: absolute;
  bottom: 130px;
  right: 20px;
}

.buttons {
  right: 5px;
  bottom: 10px;
  position: absolute;
  display: flex;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
  border-radius: 0 !important;
}

::ng-deep
  .mat-mdc-menu-content
  .mat-mdc-menu-item
  .mdc-list-item__primary-text {
  font-size: 12px !important;
}

.report-menu {
  position: absolute;
  right: 10px;
  top: 9px;
  background-color: white;
  padding: 4px;
  justify-items: center;
  border-radius: 4px;
}

.utils {
  position: absolute;
  left: 4px;
  top: 4px;
}

#plus {
  border-radius: 12px 12px 0px 0px;
}

#moins {
  border-radius: 0px 0px 12px 12px;
}

.utils .zooms div {
  height: 28px;
  width: 28px;
  background: white;
  text-align: center;
  color: #3f51b5;
  cursor: pointer;

  i {
    margin-top: 9px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 5px solid rgba(180, 180, 180, 0.6);
  border-top-color: rgba(0, 0, 0, 0.6);
  animation: spinner 0.6s linear infinite;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 30%;
}

.ol-scale-line {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.ol-scale-bar-inverted .ol-scale-singlebar-even {
  background-color: red;
}

.ol-scale-bar-inverted .ol-scale-singlebar-odd {
  background-color: green;
}

.dialogWithNoPadding {
  position: relative;
  transform: translateX(100%); /* Le modal est caché à droite par défaut */
  transition: transform 0.5s ease-in-out; /* Animation lors de l'ouverture */
}

.dialogWithNoPadding.animate__slideInRight {
  transform: translateX(
    0
  ); /* Lorsque l'animation est appliquée, il se déplace vers la position d'origine */
}

.dialogWithNoPadding .mat-dialog-container {
  padding: 0;
}
