  <nav
  #navbar
  id="navbar"
  class="fixed top-0 z-40 flex w-full flex-row justify-end bg-gray-700 px-4 sm:justify-between"
>
  <ul
    class="breadcrumb hidden flex-row items-center py-4 text-lg text-white sm:flex"
  >
    <li class="inline">
      <a href="#">Main</a>
    </li>
    <li class="inline">
      <span>Homepage</span>
    </li>
  </ul>
  <button
    (click)="toggleSidebar()"
    type="button"
    class="py-4 text-2xl text-white hover:text-gray-200"
  >
    <svg
      *ngIf="!isSidebarShown"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-8 w-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
    <svg
      *ngIf="isSidebarShown"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-8 w-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>
</nav>
