// .calendar-card {
//     height: 100px;
//   }
.toggle-margin {
    margin: 10px;
}

.custom-slide-toggle .mat-slide-toggle-thumb {
    background-color: blue;
  }
  
  .custom-slide-toggle .mat-slide-toggle-bar {
    background-color: lightblue;
  }