// Style global du conteneur de la carte
.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
  }

  // Style de la carte
  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // Style spécifique pour le contrôle de géocodage
  .mapboxgl-ctrl-geocoder {
    .input-group {
      display: flex;
      align-items: center;
    }

    .search-button {
      background-color: #4a90e2; // Couleur du bouton de recherche
      border: none;
      border-radius: 4px;
      padding: 8px;
      cursor: pointer;
      margin-right: 8px; // Espacement entre le bouton et le champ de recherche

      svg {
        fill: #ffffff; // Couleur de l'icône du bouton de recherche
      }
    }

    input {
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 8px;
      width: 200px; // Largeur du champ de recherche
      box-sizing: border-box;
      font-size: 14px;
      color: #333333;
    }

    .clear-button-container {
      .svelte-zh3kmv {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        svg {
          fill: #333333; // Couleur de l'icône de suppression
        }
      }
    }
  }
}
